/* Facebook-style button 
copy from https://www.facebook.com/login/device-based/regular/login/?login_attempt=1
with the icon of https://elpais.com/subscriptions/#/sign-in?prod=REG&o=CABEP&prm=login_cabecera_el-pais&backURL=https%3A%2F%2Felpais.com
Modify from original template by ChatGPT*/
.fb {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: content-box;
    color: #fff !important;
    text-align: center;
    line-height: 48px;
    width: 332px;
    background-color: green; /*Visual indication of the attack happening*/
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    text-shadow: none;
    padding-left: 16px;
    border: 0cm;
    border-radius: 6px;
    white-space: nowrap;
  }
  
  .fb:hover,
  .fb:focus {
    background-color: #2d4473;
  }
  
  .fb:active {
    background-color: #2a3e86;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }