
/* Apply a global font family */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Style the "ADD" link */
  a[href*="list"] {
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
  }
  a[href*="initialize"] {
    color: #fff;
    background-color: #00ff04;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
  }
  a[href*="reset"] {
    color: #fff;
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
  }
  /* Style the "Empty" message */
  p {
    font-style: italic;
    color: #999;
  }

  
  /* Add a scroll bar when the content overflows */
  td:nth-child(6) {
    overflow-x: auto;
  }
  
  td:nth-child(7) {
    overflow-y: auto;
  }
  