
<h1>LIST</h1>
{% if rows %}
<table border="1">
    <thead>
        <td>UID</td>
        <td>phase</td>
        <td>Objective</td>
        <td>Target</td>
        <td>Name</td>

    </thead>

    {% for row in rows %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>

        <td>
            <a href="{{ url_for( "edit", number=row[0] ) }}">EDIT</a> | 
            <a href="{{ url_for( "delete", number=row[0] ) }}">DELETE</a> | 
            <a href="{{ url_for( "get_data", uid=row[0] ) }}", download="test.txt">Download</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
Empty</br>
{% endif %}
<a href="{{ url_for( "add" ) }}">ADD</a>